<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string></string>
			<key>Title</key>
			<string>Bangumi</string>
			<key>URL</key>
			<string>http://bangumi.tv/subject_search/{popclip text}?cat=all</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://bangumi.tv</string>
			<key>Name</key>
			<string>Bangumi</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Satoi Harisaki</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for contents on bangumi.tv.</string>
	<key>Extension Identifier</key>
	<string>com.satoi.popclip.extension.bangumi</string>
	<key>Extension Name</key>
	<string>Bangumi</string>
</dict>
</plist>
